body{
    background: url("logotipo.png");
    
}

h4{
    color:red;
}

input#botao{
    border-radius: 5px;
        
}

section#cima{
    background-color: rgb(179, 250, 165);
    border-radius: 5px;
    padding: 15px;
    width: 1000px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0,0,0,0.514);
    font: normal 12pt arial;
    
    
    
}


div#borda{
    border-bottom: 1px black solid;
    color: red;
    
}    

div#concentradores{
    border-bottom: 1px black solid;
    color: red;
    
}    


section#baixo{
    background-color: white;
    border-radius: 5px;
    position: relative;
    padding: 15px;
    width: 1000px;
    margin: 10px auto auto auto;
    box-shadow: 3px 3px 10px rgb(0,0,0,0.514);
    font: normal 12pt arial;
    
    
}


h1#titulo{
    text-align: center;
    font: bold 20pt arial;
}

footer{
    
    text-align: center;
    font: normal 8pt arial;
}

select#flista{

    width: 700pt;
    position: relative;
 
}

h3{
    text-align: center;
}

p#ajuste{
    font:bold 10pt arial;
}

